{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4">
                <div class="form-login text-center shadow-lg">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'Please sign in'|trans }}</h1>
                        <label for="inputEmail">{{ 'Email'|trans }}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">{{ 'Password'|trans }}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="checkbox mt-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> {{ 'Remember me'|trans }}
                            </label>
                        </div>

                        <button class="btn btn-block btn-primary mt-3" type="submit">
                            {{ 'Sign in'|trans }}
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
