{% extends 'base.html.twig' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4">
                <h1 class="text-center">{{ 'Contact Us'|trans }}</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
