{% extends 'base.html.twig' %}
{% block title %}User profile{% endblock %}
{% block body %}

    <div class="container">
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="display-4">User profile</h1>
            <img alt="avatar"
                 src="{% if user.avatar %}{{ asset('uploads/avatars/' ~ user.avatar) }}{% else %}{{ asset('uploads/avatars/default.png') }}{% endif %}">
            <p>First name: {{ user.firstName }}</p>
            <p>Last name: {{ user.lastName }}</p>
        </div>
        <div>
            <a href="{{ path('user_edit') }}" class="btn btn-success mb-3">{{ 'Edit profile'|trans }}</a>
        </div>
        <div>
            <a href="{{ path('user_subscriber') }}" class="btn btn-success mb-3">{{ 'Subscriptions'|trans }}</a>
        </div>
        <div>
            <a href="{{ path('payment_createcheckout') }}" class="btn btn-success mb-3">{{ 'Paid subscription'|trans }}</a>
        </div>
    </div>

{% endblock %}

