{% extends 'base.html.twig' %}
{% block title %}User Subscriber{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="display-4">Edit Profile</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

