<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">

    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"></script>
        <script src="{{ asset('assets/framework/bootstrap-4.6.0-dist/js/bootstrap.min.js') }}"></script>
        {{tinymce_init () }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">{{ 'Foto Blog'|trans }}<span
                                class="sr-only">(current)</span></a>
                </li>
                <a class="nav-link" href="{{ path('category') }}">{{ 'Category'|trans }}<span
                            class="sr-only">(current)</span>
                </a>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Profile'|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('user') }}">{{ 'My profile'|trans }}</a>
                            <a class="dropdown-item"  href="{{ path('user_edit') }}">{{ 'Edit profile'|trans }}</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Posts'|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('show_post') }}">{{ 'Show my posts'|trans }}</a>
                            <a class="dropdown-item"  href="{{ path('create_post') }}">{{ 'Add post'|trans }}</a>
                        </div>
                    </li>
                {% endif %}
                <a class="nav-link" href="{{ path('core_contact-us-messages_create') }}">{{ 'Contact Us'|trans }}<span
                            class="sr-only">(current)</span>
                </a>
            </ul>
            <form class="form-inline">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-success my-2 my-sm-0"
                       type="submit">{{ 'Logout'|trans }}</a>
                {% else %}
                    <a href="{{ path('user_registration') }}" class="btn btn-primary mr-2 my-2 my-sm-0"
                       type="submit">{{ 'Registration'|trans }}</a>
                    <a href="{{ path('app_login') }}" class="btn btn-primary my-2 my-sm-0"
                       type="submit">{{ 'Login'|trans }}</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
{% block body %}{% endblock %}
</body>
</html>
