{% extends 'base.html.twig' %}
{% block title %}Post show{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="display-4">Delete post?</h1>
        </div>
    </div>
    <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-8 col-lg-4 col-md-4">
                <a href="?accepted=true" class="btn btn-danger">{{ 'Yes'|trans }}</a>
                <a href="{{ path('home')}}" class="btn btn-success">{{ 'No'|trans }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
