{% extends 'base.html.twig' %}
{% block title %}{{ 'Create post'|trans }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-12 col-lg-4 col-md-4">
            <h1 class="text-center">{{ 'Create post'|trans }}</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
