{% extends 'base.html.twig' %}
{% block title %}Post show{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="display-4">Post</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-8 col-lg-4 col-md-4">
            <div><img alt="image" src="{{ asset('uploads/avatars/' ~ post.image) }}"></div>
            <p>ID: {{ post.id }}</p>
            <p>TITLE: {{ post.title }}</p>
            <p>SUMMARY: {{ post.summary }}</p>
            <p>CONTENT: {{ post.content }}</p>

            {% if is_granted('edit_post', post) %}
                <a href="{{ path('edit_post', {'id': post.id}) }}" class="btn btn-success">{{ 'Edit post'|trans }}</a>
                <a href="{{ path('post_delete', {'id': post.id}) }}" class="btn btn-danger">{{ 'Delete post'|trans }}</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
