{% extends 'base.html.twig' %}
{% block title %}Post list{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="display-8">My post list</h1>

            {% if is_granted('create_post') %}

                <div>
                    <a href="{{ path('create_post') }}" class="btn btn-success">{{ 'Create post'|trans }}</a>
                </div>

            {% endif %}

            {% for post in posts %}
                <div class="mb-3">
{#                    <span>Author:   <a href="{{ path('post_post', {'id': post.id}) }}">{{ post.author.id }}</a>,<br></span>#}
                    <span>Title:    <a href="{{ path('post_post', {'id': post.id}) }}">{{ post.title }}</a>,<br></span>
                    <span>Summary:  <a href="{{ path('post_post', {'id': post.id}) }}">{{ post.summary }}</a></span>
                </div>
            {% else %}
                <div>Posts not found</div>
            {% endfor %}

            {{ knp_pagination_render(posts) }}

        </div>
    </div>
{% endblock %}
