{% extends 'base.html.twig' %}
{% block title %}All categories{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="display-8">All categories</h1>
        <div class="posts list-block">
            <div class="row">
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{{ path('category_posts', {categoryName: category.name}) }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
