{% extends 'base.html.twig' %}
{% block title %} Category - {{ categoryPosts.name }} {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="display-8">Category - {{ categoryPosts.name }}</h1>

{#        {% for post in categoryPosts.posts %}#}
{#            <div class="mb-3">#}
{#                <span>Author:   <a href="{{ path('post_post', {'id': post.id}) }}">{{ post.author.id }}</a>,<br></span>#}
{#                <span>Title:    <a href="{{ path('post_post', {'id': post.id}) }}">{{ post.title }}</a>,<br></span>#}
{#                <span>Summary:  <a href="{{ path('post_post', {'id': post.id}) }}">{{ post.summary }}</a></span>#}
{#            </div>#}
{#        {% else %}#}
{#            <div>Posts not found</div>#}
{#        {% endfor %}#}

    </div>
{% endblock %}