{% extends 'base.html.twig' %}
{% block title %}{{ 'Payment Fail!'|trans }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4">
                <h1>Thanks for your attempted order!</h1>
                <p>
                    We would appreciate your business!
                    But your payment failed :(
                    <a href="mailto:orders@example.com">failures@example.com</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
