{% extends 'base.html.twig' %}
{% block title %}{{ 'Checkout'|trans }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4">
                <h1 class="text-center">{{ 'Starter plan'|trans }}</h1>
                <h5>$20.00 / month</h5>
                <form action="{{ path('payment_checkout') }}" method="POST">
                    <button class="btn btn-success mb-3" id="checkout-and-portal-button" type="submit">Checkout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
