{% extends 'base.html.twig' %}
{% block title %}{{ 'Payment Success!'|trans }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4">
                <h1>Thanks for your order!</h1>
                <p>
                    We appreciate your business!
                    If you have any questions, please email
                    <a href="mailto:orders@example.com">orders@example.com</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
